
body {
    background-image: url(back.JPG);
    background-repeat: repeat;
        
}

header {
     background-color: aqua;
     height: 7pc;
     margin: 0;
     padding: 0;
     width: 100%;
}

p {
    color: wheat;
    text-align: left;
}

h1 {
    color: wheat;
}